*, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 26px;
  font-family: 'Helv', sans-serif;
  cursor: crosshair;
}

@font-face {
    font-family: 'Helv';
    src: url('../fonts/helvetica-light.otf');
    font-weight: lighter;
    font-style: lighter;
}

#besideMouse{
  font-size: 6vw;
  z-index: 1000;
  position: fixed;
  text-align: center;
  /*transform: translateX(-50%);*/
}

.mouse-box{
  height: 100vh;
  width: 50vw;
  position: fixed;
  /*pointer-events: none;*/
}

/*SIDE BARS ------------------------------------------------------------------*/

.sidebar{
  width: 50vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  display: inline-block;
  padding: 20px;
  color: #fff;
  overflow: scroll;
}
.sidebar p{
  font-size: 50px;
}
.sb-rachel{
  background: #000;
  right: -60vw;
}
.st-rachel{
  height: 100vh;
  width: 20vw;
  max-width: 200px;
  position: absolute;
  right: 0;
}
.sb-pierre{
  background: #000;
  left: -60vw;
}
.st-pierre{
  height: 100vh;
  width: 20vw;
  max-width: 200px;
  position: absolute;
  left: 0;
}

/*FACE CONTAINER ELEMENTS ----------------------------------------------------*/


.face-container{
  position: fixed;
  height: 100vh;
  width: 100vh;
  max-width: 100vw;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.collage{
  position: absolute;
  transform: translateX(-50%);
}

.collage-a, .collage-b, .collage-c, .collage-d, .collage-e, .collage-f{
  display: none;
}

/* Collage 1 ----------------*/
.collage-a-1{
  bottom: 68vh;
  left: 46%;
  width: 59vh;
  z-index: 90;
}
.collage-a-2{
  bottom: 32vh;
  left: 32%;
  width: 35vh;
  z-index: 80;
  mix-blend-mode: multiply;
}
.collage-a-3{
  bottom: 19vh;
  left: 49%;
  width: 48vh;
  z-index: 40;
}
.collage-a-4{
  bottom: 17vh;
  left: 41%;
  width: 26vh;
  z-index: 60;
}
.collage-a-5{
  bottom: 44vh;
  left: 41%;
  width: 109vh;
  z-index: 20;
}
.collage-a-6{
  bottom: 0;
  left: 50%;
  width: 84vh;
  z-index: 10;
}

/* Collage 2 ----------------*/
.collage-b-1{
  bottom: 38vh;
  left: 24%;
  width: 23vh;
  z-index: 90;
  mix-blend-mode: multiply;
}
.collage-b-2{
  bottom: 27vh;
  left: 38%;
  width: 19vh;
  z-index: 80;
}
.collage-b-3{
  bottom: 25vh;
  left: 53%;
  width: 49vh;
  z-index: 40;
}
.collage-b-4{
  bottom: 50vh;
  left: 57%;
  width: 102vh;
  z-index: 20;
}
.collage-b-5{
  bottom: 4vh;
  left: 53%;
  width: 27vh;
  z-index: 20;
}
.collage-b-6{
  bottom: 0;
  left: 50%;
  width: 84vh;
  z-index: 10;
}

/* Collage 3 ----------------*/
.collage-c-1{
  bottom: 41vh;
  left: 63%;
  width: 24vh;
  z-index: 90;
}
.collage-c-2{
  bottom: 54vh;
  left: 25%;
  width: 19vh;
  z-index: 80;
}
.collage-c-3{
  bottom: 79vh;
  left: 60%;
  width: 56vh;
  z-index: 100;
  mix-blend-mode: multiply;
}
.collage-c-4{
  bottom: 32vh;
  left: 57%;
  width: 45vh;
  z-index: 60;
}
.collage-c-5{
  bottom: 29vh;
  left: 48%;
  width: 46vh;
  z-index: 20;
}
.collage-c-6{
  bottom: 12vh;
  left: 50%;
  width: 27vh;
  z-index: 30;
}
.collage-c-7{
  bottom: 0;
  left: 50%;
  width: 92vh;
  z-index: 10;
}

/* Collage 4 ----------------*/
.collage-d-1{
  bottom: 52vh;
  left: 51%;
  width: 22vh;
  z-index: 90;
}
.collage-d-2{
  bottom: 51vh;
  left: 74%;
  width: 13vh;
  z-index: 80;
}
.collage-d-3{
  bottom: 27vh;
  left: 61%;
  width: 26vh;
  z-index: 70;
}
.collage-d-4{
  bottom: 19vh;
  left: 50%;
  width: 49vh;
  z-index: 60;
}
.collage-d-5{
  bottom: 38vh;
  left: 39%;
  width: 70vh;
  z-index: 40;
}
.collage-d-6{
  bottom: 23vh;
  left: 36%;
  width: 23vh;
  z-index: 30;
}
.collage-d-7{
  bottom: 0;
  left: 46%;
  width: 98vh;
  z-index: 10;
}

/* Collage 5 ----------------*/
.collage-e-1{
  bottom: 0;
  left: 51%;
  width: 104vh;
  z-index: 90;
}
.collage-e-2{
  bottom: 30vh;
  left: 59%;
  width: 32vh;
  z-index: 80;
}
.collage-e-3{
  bottom: 61vh;
  left: 49%;
  width: 54vh;
  z-index: 70;
  mix-blend-mode: multiply;
}
.collage-e-4{
  bottom: 45vh;
  left: 33%;
  width: 28vh;
  z-index: 40;
}
.collage-e-5{
  bottom: 67vh;
  left: 36%;
  width: 18vh;
  z-index: 40;
}
.collage-e-6{
  bottom: 2vh;
  left: 53%;
  width: 25vh;
  z-index: 40;
}
.collage-e-7{
  bottom: 43vh;
  left: 69%;
  width: 25vh;
  z-index: 30;
}

/* Collage 6 ----------------*/
.collage-f-1{
  bottom: 25vh;
  left: 41%;
  width: 33vh;
  z-index: 90;
}
.collage-f-2{
  bottom: 22vh;
  left: 41%;
  width: 55vh;
  z-index: 80;
}
.collage-f-3{
  bottom: 0;
  left: 45%;
  width: 81vh;
  z-index: 70;
}
.collage-f-4{
  bottom: 40vh;
  left: 48%;
  width: 123vh;
  z-index: 40;
}
.collage-f-5{
  bottom: 32vh;
  left: 61%;
  width: 19vh;
  z-index: 40;
}


/* MENU POINTERS  -------------------------------------------------------*/

.menu-pointer, .menu-pointer p{
  position: absolute;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  width: 100px;
}

.menu-tl{
  top: 20px;
  left: 20px;
  position: fixed;
}

.menu-tr{
  top: 20px;
  right: 20px;
  text-align: right;
  position: fixed;
}

.arrow{
  height: 18px;
  width: 18px;
}

.arrow-l{
  background: url(../assets/svg/arrow-left.svg);
  top: 90px;
}

.arrow-r{
  background: url(../assets/svg/arrow-right.svg);
  top: 25px;
  right: 0;
  position: absolute;
}
.menu-bot{
  left: 82vw;
  bottom: 25px;
  position: absolute;
  width: 75px;
}
.arrow-d{
  background: url(../assets/svg/arrow-down.svg);
  display: inline-block;
  float: right;
  position: relative;
  top: 7px;
}

/* INTRO CONTAINER DIV  ------------------------------------------------------*/


.intro-container{
  position: absolute;
  pointer-events: none;
}
.intro-top{
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.intro-bottom{
  position: absolute;
  width: 100vw;
  top: 100vh;
}
.intro-text{
  font-family: 'Helv', sans-serif;
  font-weight: lighter;
  font-size: 6vw;
  padding: 40px;
}
.intro-footer{
  height: 100vh;
}
