*, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 26px;
  font-family: 'Helv', sans-serif;
  cursor: crosshair;
}

@font-face {
    font-family: 'Helv';
    src: url('../fonts/helvetica-light.otf');
    font-weight: lighter;
    font-style: lighter;
}

*::selection{
  background-color: yellow;
  color: #000;
}

#besideMouse{
  font-size: 6vw;
  z-index: -100;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 45%;
  /*transform: translateX(-50%);*/
}

.mouse-box{
  height: 100vh;
  width: 50vw;
  position: fixed;
  /*pointer-events: none;*/
}

/*SIDE BARS ------------------------------------------------------------------*/

.sidebar{
  width: 50vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  top: 0;
  display: inline-block;
  padding: 20px;
  color: #fff;
  overflow: scroll;
}
.sidebar p{
  font-size: 50px;
}
.sidebar a{
  font-size: 50px;
  border-bottom: 2px solid #fff;
  padding-bottom: -3px;
}
.sidebar a:hover{
  border-bottom: 0px;
}
.sb-rachel{
  background: #000;
  right: -60vw;
}
.st-rachel{
  height: 100vh;
  width: 20vw;
  max-width: 200px;
  position: absolute;
  right: 0;
  top: 0;
}
.sb-pierre{
  background: #000;
  left: -60vw;
}
.st-pierre{
  height: 100vh;
  width: 15vw;
  max-width: 150px;
  position: absolute;
  left: 0;
  top: 0;
}


/* MENU POINTERS  -------------------------------------------------------*/

.menu-pointer{
  position: absolute;
  width: 100px;
  z-index: 500;
}
.menu-pointer p{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
  font-family: Arial, sans-serif;
}

.menu-tl{
  top: 20px;
  left: 20px;
  position: fixed;
}
.menu-tl p{
  top: 23px;
  position: relative;
}

.menu-tr{
  top: 20px;
  right: 20px;
  text-align: right;
  position: fixed;
}

.arrow{
  height: 18px;
  width: 18px;
}

.arrow-l{
  background: url(../assets/svg/arrow-left.svg);
  top: -23px;
  position: relative;
}

.arrow-r{
  background: url(../assets/svg/arrow-right.svg);
  top: 25px;
  right: 0;
  position: absolute;
}
.menu-bot{
  left: 82%;
  bottom: 10px;
  position: absolute;
  width: 72px;
  transform: translateX(-50%);
}
.arrow-d{
  background: url(../assets/svg/arrow-down.svg);
  display: inline-block;
  float: right;
  position: relative;
  top: -15px;
}
.back-button{
  text-transform: uppercase;
  height: 50px;
  width: 75px;
  margin-bottom: 40px;
  display: none;
}
.back-button p{
  font-size: 20px;
}
.back-pierre{
  float: right;
}
.arrow-r-w{
  background: url(../assets/svg/arrow-left-w.svg);
  height: 20px;
  width: 30px;
  background-repeat: no-repeat;
}
.arrow-l-w{
  background: url(../assets/svg/arrow-right-w.svg);
  height: 20px;
  width: 30px;
  background-repeat: no-repeat;
  float: right;
}
.loading-screen{
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  background-color: #E2E2E2;
}
.loading-screen p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
}
.back-to-top{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}
.back-to-top p {
  font-family: Arial;
  font-size: 20px;
}
.arrow-u{
  height: 30px;
  width: 30px;
  background: url(../assets/svg/arrow-up.svg);
  position: relative;
  top: -50px;
  right: -54px;
  background-repeat: no-repeat;
}

/* INTRO CONTAINER DIV  ------------------------------------------------------*/


.intro-container{
  position: absolute;
  overflow: scroll;
}
.intro-top{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.intro-bottom{
  position: absolute;
  z-index: 600;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgb(255,255,255) 100%);
}
.intro-text{
  font-family: 'Helv', sans-serif;
  font-weight: lighter;
  font-size: 6vw;
  padding: 20px 20px 100px 20px;
}
.getintouch{
  font-size: 6vw;
  color: #000;
  text-decoration: none;
  border-bottom: 0.3vw solid #000;
}
.getintouch:hover{
  border-bottom: 0;
  cursor: pointer;
}




/*FACE CONTAINER ELEMENTS ----------------------------------------------------*/


.face-container{
  position: fixed;
  height: 100vh;
  width: 100vh;
  max-width: 100vw;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  pointer-events: none;
}

.collage{
  position: absolute;
  transform: translateX(-50%);
}

/*.collage-a, .collage-b, .collage-c, .collage-d, .collage-e, .collage-f{
  display: none;
}*/

.collage-a{
  display: none;
}
.collage-b{
  display: none;
}
.collage-c{
  display: none;
}
.collage-d{
  display: none;
}
.collage-e{
  display: none;
}
.collage-f{
  display: none;
}


/* Collage 1 ----------------*/
.collage-a-1{
  bottom: 68vh;
  left: 46%;
  width: 59vh;
  z-index: 90;
}
.collage-a-2{
  bottom: 27vh;
  left: 31%;
  width: 39vh;
  z-index: 80;
  mix-blend-mode: multiply;
}
.collage-a-3{
  bottom: 19vh;
  left: 49%;
  width: 48vh;
  z-index: 40;
}
.collage-a-4{
  bottom: 19vh;
  left: 42%;
  width: 25vh;
  z-index: 60;
}
.collage-a-5{
  bottom: 44vh;
  left: 41%;
  width: 109vh;
  z-index: 20;
}
.collage-a-6{
  bottom: 0;
  left: 50%;
  width: 84vh;
  z-index: 10;
}

/* Collage 2 ----------------*/
.collage-b-1{
  bottom: 35vh;
  left: 23%;
  width: 27vh;
  z-index: 90;
  mix-blend-mode: multiply;
}
.collage-b-2{
  bottom: 26vh;
  left: 39%;
  width: 19vh;
  z-index: 80;
}
.collage-b-3{
  bottom: 25vh;
  left: 53%;
  width: 49vh;
  z-index: 40;
}
.collage-b-4{
  bottom: 48vh;
  left: 58%;
  width: 109vh;
  z-index: 20;
}
.collage-b-5{
  bottom: 4vh;
  left: 53%;
  width: 27vh;
  z-index: 20;
}
.collage-b-6{
  bottom: 0;
  left: 50%;
  width: 84vh;
  z-index: 10;
}

/* Collage 3 ----------------*/
.collage-c-1{
  bottom: 41vh;
  left: 62%;
  width: 21vh;
  z-index: 90;
}
.collage-c-2{
  bottom: 56vh;
  left: 27%;
  width: 15vh;
  z-index: 80;
}
.collage-c-3{
  bottom: 77vh;
  left: 60%;
  width: 54vh;
  z-index: 100;
  mix-blend-mode: multiply;
}
.collage-c-4{
  bottom: 32vh;
  left: 57%;
  width: 42vh;
  z-index: 60;
}
.collage-c-5{
  bottom: 29vh;
  left: 49%;
  width: 45vh;
  z-index: 20;
}
.collage-c-6{
  bottom: 12vh;
  left: 50%;
  width: 27vh;
  z-index: 30;
}
.collage-c-7{
  bottom: 0;
  left: 50%;
  width: 92vh;
  z-index: 10;
}

/* Collage 4 ----------------*/
.collage-d-1{
  bottom: 52vh;
  left: 54%;
  width: 23vh;
  z-index: 90;
}
.collage-d-2{
  bottom: 51vh;
  left: 73.5%;
  width: 13vh;
  z-index: 80;
}
.collage-d-3{
  bottom: 27vh;
  left: 61%;
  width: 26vh;
  z-index: 70;
}
.collage-d-4{
  bottom: 19vh;
  left: 50%;
  width: 49vh;
  z-index: 60;
}
.collage-d-5{
  bottom: 38vh;
  left: 39%;
  width: 70vh;
  z-index: 40;
}
.collage-d-6{
  bottom: 23vh;
  left: 36%;
  width: 23vh;
  z-index: 30;
}
.collage-d-7{
  bottom: 0;
  left: 46%;
  width: 98vh;
  z-index: 10;
}

/* Collage 5 ----------------*/
.collage-e-1{
  bottom: 0;
  left: 51%;
  width: 104vh;
  z-index: 90;
}
.collage-e-2{
  bottom: 32vh;
  left: 59%;
  width: 29vh;
  z-index: 80;
}
.collage-e-3{
  bottom: 62vh;
  left: 49%;
  width: 48vh;
  z-index: 70;
  mix-blend-mode: multiply;
}
.collage-e-4{
  bottom: 46vh;
  left: 35%;
  width: 26vh;
  z-index: 50;
}
.collage-e-5{
  bottom: 66vh;
  left: 39%;
  width: 19vh;
  z-index: 40;
}
.collage-e-6{
  bottom: 2vh;
  left: 53%;
  width: 25vh;
  z-index: 40;
}
.collage-e-7{
  bottom: 43vh;
  left: 69%;
  width: 25vh;
  z-index: 30;
}

/* Collage 6 ----------------*/
.collage-f-1{
  bottom: 23vh;
  left: 42%;
  width: 31vh;
  z-index: 90;
}
.collage-f-2{
  bottom: 22vh;
  left: 41%;
  width: 52vh;
  z-index: 80;
}
.collage-f-3{
  bottom: 0;
  left: 45%;
  width: 81vh;
  z-index: 70;
}
.collage-f-4{
  bottom: 40vh;
  left: 48%;
  width: 113vh;
  z-index: 40;
}
.collage-f-5{
  bottom: 33vh;
  left: 60%;
  width: 18.5vh;
  z-index: 40;
}


/*MOBILE =====================================================================*/

@media screen and (max-width: 650px) {

  #besideMouse{
    display: none;
  }
  .menu-bot{
    left: 50%;
  }
  .sidebar{
    width: 100vw;
    padding-bottom: 100px;
  }
  .sidebar p, .sidebar a{
    font-size: 34px;
  }
  .side-trig{
    display: none;
  }
  .sb-pierre{
    left: -100%;
  }
  .sb-rachel{
    right: -100%;
  }
  .back-button{
    display: block;
  }
  .back-button p{
    font-size: 20px;
  }
  .intro-text{
    font-size: 34px;
  }



/*FACE CONTAINER ELEMENTS ----------------------------------------------------*/

  /* Collage 1 ----------------*/
  .collage-a-1{
    bottom: 68vh;
    left: 46%;
    width: 59vh;
    z-index: 90;
  }
  .collage-a-2{
    bottom: 29vh;
    left: 22%;
    width: 36vh;
    z-index: 80;
    mix-blend-mode: multiply;
  }
  .collage-a-3{
    bottom: 19vh;
    left: 49%;
    width: 48vh;
    z-index: 40;
  }
  .collage-a-4{
    bottom: 19vh;
    left: 36%;
    width: 25vh;
    z-index: 60;
  }
  .collage-a-5{
    bottom: 44vh;
    left: 37%;
    width: 109vh;
    z-index: 20;
  }
  .collage-a-6{
    bottom: 0;
    left: 50%;
    width: 84vh;
    z-index: 10;
  }

  /* Collage 2 ----------------*/
  .collage-b-1{
    bottom: 35vh;
    left: 10%;
    width: 27vh;
    z-index: 90;
    mix-blend-mode: multiply;
  }
  .collage-b-2{
    bottom: 26vh;
    left: 33%;
    width: 19vh;
    z-index: 80;
  }
  .collage-b-3{
    bottom: 25vh;
    left: 53%;
    width: 49vh;
    z-index: 40;
  }
  .collage-b-4{
    bottom: 48vh;
    left: 61%;
    width: 109vh;
    z-index: 20;
  }
  .collage-b-5{
    bottom: 4vh;
    left: 53%;
    width: 27vh;
    z-index: 20;
  }
  .collage-b-6{
    bottom: 0;
    left: 50%;
    width: 84vh;
    z-index: 10;
  }

  /* Collage 3 ----------------*/
  .collage-c-1{
    bottom: 41vh;
    left: 63%;
    width: 21vh;
    z-index: 90;
  }
  .collage-c-2{
    bottom: 56vh;
    left: 13%;
    width: 15vh;
    z-index: 80;
  }
  .collage-c-3{
    bottom: 77vh;
    left: 60%;
    width: 54vh;
    z-index: 100;
    mix-blend-mode: multiply;
  }
  .collage-c-4{
    bottom: 32vh;
    left: 57%;
    width: 42vh;
    z-index: 60;
  }
  .collage-c-5{
    bottom: 29vh;
    left: 46%;
    width: 45vh;
    z-index: 20;
  }
  .collage-c-6{
    bottom: 12vh;
    left: 50%;
    width: 27vh;
    z-index: 30;
  }
  .collage-c-7{
    bottom: 0;
    left: 50%;
    width: 92vh;
    z-index: 10;
  }

  /* Collage 4 ----------------*/
  .collage-d-1{
    bottom: 52vh;
    left: 56%;
    width: 23vh;
    z-index: 90;
  }
  .collage-d-2{
    bottom: 51vh;
    left: 84.5%;
    width: 13vh;
    z-index: 80;
  }
  .collage-d-3{
    bottom: 27vh;
    left: 67%;
    width: 26vh;
    z-index: 70;
  }
  .collage-d-4{
    bottom: 19vh;
    left: 50%;
    width: 49vh;
    z-index: 60;
  }
  .collage-d-5{
    bottom: 38vh;
    left: 33%;
    width: 70vh;
    z-index: 40;
  }
  .collage-d-6{
    bottom: 23vh;
    left: 30%;
    width: 23vh;
    z-index: 30;
  }
  .collage-d-7{
    bottom: 0;
    left: 46%;
    width: 98vh;
    z-index: 10;
  }

  /* Collage 5 ----------------*/
  .collage-e-1{
    bottom: 0;
    left: 51%;
    width: 104vh;
    z-index: 90;
  }
  .collage-e-2{
    bottom: 32vh;
    left: 61%;
    width: 29vh;
    z-index: 80;
  }
  .collage-e-3{
    bottom: 62vh;
    left: 49%;
    width: 48vh;
    z-index: 70;
    mix-blend-mode: multiply;
  }
  .collage-e-4{
    bottom: 46vh;
    left: 25%;
    width: 26vh;
    z-index: 50;
  }
  .collage-e-5{
    bottom: 66vh;
    left: 31%;
    width: 19vh;
    z-index: 40;
  }
  .collage-e-6{
    bottom: 2vh;
    left: 53%;
    width: 25vh;
    z-index: 40;
  }
  .collage-e-7{
    bottom: 43vh;
    left: 74%;
    width: 25vh;
    z-index: 30;
  }

  /* Collage 6 ----------------*/
  .collage-f-1{
    bottom: 23vh;
    left: 42%;
    width: 31vh;
    z-index: 90;
  }
  .collage-f-2{
    bottom: 22vh;
    left: 41%;
    width: 52vh;
    z-index: 80;
  }
  .collage-f-3{
    bottom: 0;
    left: 45%;
    width: 81vh;
    z-index: 70;
  }
  .collage-f-4{
    bottom: 40vh;
    left: 48%;
    width: 113vh;
    z-index: 40;
  }
  .collage-f-5{
    bottom: 33vh;
    left: 67%;
    width: 18.5vh;
    z-index: 40;
  }
}
